@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    font: 14px 'Roboto', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #6a6a00;
    min-width: 230px;
	max-width: 1000px;
    margin: 0 auto;
    font-weight: 300;
    background-color: rgb(226, 219, 180);
}

h1 {
    font: Montserrat;
}

/* unvisited link */
a:link {
    color: #6a6a00;
}

/* visited link */
a:visited {
  color: #6a6a00;
}

/* mouse over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: green;
}

button {
    background-color: rgb(226, 219, 180);
    padding: 5px;
    border-radius: 8px;
}

button:hover {
    background-color: rgb(206, 199, 161);
}

.custom-file-input {
    visibility: hidden;
  }

.upload-link {
    padding: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.upload-link:hover {
    padding: 5px;
    color: green;
    text-decoration: underline;
    cursor: pointer;
}

.upload-container {
    padding: 10px;
}

.game-status {
    border-collapse: separate;
    border-spacing: 15px; 
    margin: 0px auto;
}

.config {
    font-family: "Lucida Console", Monaco, monospace;
}

.conf-text {
    font-family: "Lucida Console", Monaco, monospace;
    width: 600px;
    height: 300px;
}

.image {
    background-color: rgb(114, 97, 71);
    color: yellow;
    font-size: large;
    padding: 15px;
}

.secret{
    font-family: "Lucida Console", Monaco, monospace;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    font-size: larger;
    color: darkgreen;
    line-height: 1.7em;
}


.instructions {
    padding: 10px;
    color: darkgreen;
}

.guess{
    font-size: large;
    margin-left: 1ex;
    padding: 2px;
    width: 1.2em;
}

.footer {
    padding: 1em;
    font-size: x-small;
}
